<div
  class="sticky top-0 z-50 bg-background-light/95 backdrop-blur-md border-b border-gray-100 px-4 py-3 flex items-center shadow-sm"
>
  <div class="flex items-center gap-3">
    <div class="bg-orange-100 p-2 rounded-xl text-primary">
      <span class="material-icons-round text-2xl">restaurant_menu</span>
    </div>
    <div class="flex flex-col">
      <h1 class="font-bold text-sm leading-tight text-gray-900">
        Hamburguesas y Postres
      </h1>
      <span class="font-bold text-lg leading-tight text-gray-900">Castillo</span
      >
    </div>
  </div>
</div>
